<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout's Page</title>
</head>
<body>
<h1>Trainers Create your workouts here </h1>
<form method="POST" >
    {% csrf_token %}
    <label>Name your workout</label>
    <input class="workout_name" type="text"> <br>
    <label>Describe the workout briefly for your client (limit 250 characters)</label> <br>
    <textarea class="workout_desc" rows = "4" cols = "50" maxlength="250"></textarea> <br>
   <label>Reps(Enter a Number)</label>
    <input type="number" class="reps" > <br>
    <label>Sets(Enter a Number)</label>
   <input type="number" class="sets" > <br>

    <!-- TODO map button clicks properly. This is a major task -->
    <button type="submit">Submit  </button><br>
    <button type="reset">Reset</button><br>
</form>

</body>
</html>